html, body, #mapDiv, #fullPageDiv {
    padding: 0;
    margin: 0;
    height:100%;
    font-family: Arial;
}

#LocateButton {
    position:absolute;
    top:135px;
    left:20px;
    z-index:50;
}

#OrthoButton {
    position: absolute;
    top: 175px;
    left: 20px;
    z-index: 50;
}

/* hide dialogs */
#dlgConfirmation {
    display:none;
}

.search {
    position: absolute;
    top: 50px;
    left: 60px;
}
.result-table {
    background-color:#ffffff;
    position:absolute;
    top:110px;
    left:70px;
}

#btnSearch, #txtSearch, #imgLoadingSpinner {
    display:inline-block;
}

/*jqueryui overrides*/
.ui-dialog .ui-dialog-titlebar {
    padding: 0px;
    position: relative;
}
.ui-dialog .ui-dialog-content {
    padding: .2em .3em;
}

.NoCloseButton .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background-image: linear-gradient(to top, #367898 0%, #B4D3E2 100%);
    color: #333333;
}

.ui-widget-header {
    border: 0px;
    background: #B4D3E2;
    color: #ffffff;
    font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0px;
	background: none;
}

.ui-button-text-only .ui-button-text {
    padding: .2em .2em;
}

/*
    ESRI override*/
.esriPopup .actionsPane {
    display:none;
}

/* ESRI popup styling */
.esriPopup .contentPane {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
}

.esriPopup .titlePane {
background-color: #699FB6;
color: #FFFFFF;
line-height: 20px;
padding-left: 6px;
border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
cursor: default;
font-size: 12px;
}

.popup-label{
    color: #7A827F;
    font-size: 12px;
}

.esriPopup .sizer {
width: 230px;
}

.modal-content{
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal-header{
    background-color: #699FB6;
    color: #ffffff;
    padding: 5px;
    padding-left: 7px;
}

.modal-body{
    padding: 5px;
    text-align: center;
}

@media (min-width:768px){.modal-dialog{width:330px;}}

.modal-body p{
    display:inline;
    font-size: 12px;
    padding: 0px;
    margin: 0px;

}

.modal-body p.confirmation-spatial-parcel-pid{
    display:inline-block;
    font-size: 10px;
}

.modal-body p.parcel-label{
    display: inline-block;
    font-size: 12px;
}

.modal-footer{
    padding: 5px;
}

p {
margin: 0 0 5px;
}

.confirmation-dialog h3{
    font-size: 12px;
    font-style: italic;
    color: #354E63;
    margin-top: 5px;
    text-align: center;
}

.modal-footer .btn+.btn {
    padding: 4px;
    font-size: 12px;
    background-color:#6FB07F;
    color: #ffffff;
    border-color:#6FB07F;

}

.modal-footer .btn{
    padding: 4px;
    font-size: 12px;
    background-color:#FC856E;
    color: #ffffff;
    border-color:#FC856E;
}

.modal-footer .glyphicon{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

