html, body, #mapDiv, #fullPageDiv {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#mapDiv {
    width:600px;
    height:400px;
}

/* hide dialogs */
#dlgConfirmation {
    display:none;
}


/* Map Buttons
#HomeButton {
    position: relative;
    top: 145px;
    left: 20px;
    z-index: 50;
}

#OrthoButton {
    position: relative;
    top: 185px;
    left: 20px;
    z-index: 50;
}
*/


/*jqueryui overrides*/
/*
ui-dialog: The outer container of the dialog.
ui-dialog-titlebar: The title bar containing the dialog's title and close button.
ui-dialog-title: The container around the textual title of the dialog.
ui-dialog-titlebar-close: The dialog's close button.
ui-dialog-content: The container around the dialog's content. This is also the element the widget was instantiated with.
ui-dialog-buttonpane: The pane that contains the dialog's buttons. This will only be present if the buttons option is set.
ui-dialog-buttonset: The container around the buttons themselves.
*/

.ui-dialog .ui-dialog-titlebar {
    padding: 0px;
    position: relative;
}
.ui-dialog .ui-dialog-content {
    padding: .2em .3em;
}

.NoCloseButton .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background-image: linear-gradient(to top, #367898 0%, #B4D3E2 100%);
    color: #333333;
}

.ui-widget-header {
    border: 0px;
    background: #B4D3E2;
    color: #ffffff;
    font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 0px;
	background: none;
}

.ui-button-text-only .ui-button-text {
    padding: .2em .2em;
}
